Repository prehisle/pitype-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*.{ts,js,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "packages/pitype-core/src/**/*.ts": ["vitest related --run"]
}

feat(core): add cjk line-break control
  examples/ts-typerank3/package.json
  examples/vue3-typerank3/package.json
  package-lock.json
  packages/pitype-core/README.md
  packages/pitype-core/package.json
  packages/pitype-core/src/dom/textRenderer.ts
  packages/pitype-core/src/index.ts
  packages/pitype-core/tests/dom/textRenderer.spec.ts
Due: eslint --fix, prettier --write, vitest related --run

ci: add Codecov integration (step 4)
  .codecov.yml
  .github/workflows/ci.yml
  CODECOV_SETUP_GUIDE.md
Due: prettier --write

ci: add comprehensive quality gate workflow (step 5)
  .github/workflows/quality-gate.yml
Due: prettier --write

ci: add security scanning and performance monitoring (step 6)
  .github/workflows/performance.yml
  .github/workflows/security-scan.yml
  .lighthouserc.json
Due: prettier --write

ci: add semantic release automation (step 7)
  .github/workflows/release.yml
  .releaserc.json
  package.json
Due: prettier --write

chore: update package-lock.json after adding dependencies
  package-lock.json
Due: prettier --write

fix(ci): make lint step non-blocking to align with incremental improvement strategy
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add Playwright browser installation step
  .github/workflows/ci.yml
Due: prettier --write

style: format all files with Prettier to fix code formatting check
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
  DEVELOPMENT.md
  FRAMEWORK_INTEGRATION_PROPOSAL.md
  INCREMENTAL_IMPLEMENTATION_PLAN.md
  QUALITY_IMPLEMENTATION_GUIDE.md
  QUALITY_SUMMARY.md
  QUICK_REFERENCE.md
  README.md
  docs/04接入指南.md
  examples/ts-typerank3/README.md
  examples/ts-typerank3/src/main.ts
  examples/ts-typerank3/src/texts.ts
  examples/ts-typerank3/src/ui/infoModal.ts
  examples/ts-typerank3/src/ui/languageController.ts
  examples/ts-typerank3/src/ui/localeUtils.ts
  examples/typerank3/texts.js
  examples/typerank3/ui/infoModal.js
  examples/typerank3/ui/resultModal.js
  examples/vue3-typerank3/INTEGRATION_SUMMARY.md
  examples/vue3-typerank3/NEW_FEATURES.md
  examples/vue3-typerank3/src/texts.ts
  packages/pitype-core/AUDIO_CONTROLLER_GUIDE.md
  packages/pitype-core/CURSOR_CONFIG_GUIDE.md
  packages/pitype-core/GHOST_CURSOR_GUIDE.md
  packages/pitype-core/PLAYBACK_GUIDE.md
  packages/pitype-core/README.md
  packages/pitype-core/src/dom/audioController.ts
  packages/pitype-core/src/dom/cursorAdapter.ts
  packages/pitype-core/src/dom/statsPanel.ts
  packages/pitype-core/src/dom/themeController.ts
  packages/pitype-core/src/ghostManager.ts
  packages/pitype-core/src/index.ts
  packages/pitype-core/src/player.ts
  packages/pitype-core/src/recorder.ts
  packages/pitype-core/tests/dom/cursorAdapter.spec.ts
  packages/pitype-core/tests/dom/textRenderer.spec.ts
Due: eslint --fix, prettier --write, vitest related --run

fix(lint-staged): remove blocking eslint check from pre-commit hook
  .lintstagedrc.json
Due: prettier --write

fix(eslint): disable no-undef rule for TypeScript files
  eslint.config.cjs
Due: eslint --fix, prettier --write

fix: resolve all TypeScript and ESLint errors
  eslint.config.cjs
  examples/ts-typerank3/src/language.ts
  examples/ts-typerank3/src/ui/languageController.ts
  packages/pitype-core/src/dom/audioController.ts
  packages/pitype-core/src/dom/cursorAdapter.ts
  packages/pitype-core/src/ghostManager.ts
  packages/pitype-core/src/recorder.ts
  packages/pitype-core/src/sessionRuntime.ts
  packages/pitype-core/tests/dom/statsPanel.spec.ts
Due: eslint --fix, prettier --write, vitest related --run

fix(renderer): keep cjk punctuation within word
  examples/ts-typerank3/package.json
  examples/vue3-typerank3/package.json
  package-lock.json
  packages/pitype-core/package.json
  packages/pitype-core/src/dom/textRenderer.ts
  packages/pitype-core/tests/dom/textRenderer.spec.ts
Due: eslint --fix, prettier --write, vitest related --run

fix(build): add WindowWithAudio interface for Audio constructor type
  packages/pitype-core/src/dom/audioController.ts
Due: eslint --fix, prettier --write, vitest related --run

fix(typescript): create separate tsconfig for type-check to exclude tests
  package.json
  packages/pitype-core/tsconfig.json
  packages/pitype-core/tsconfig.typecheck.json
Due: prettier --write

fix(vue3-example): add type guards for metadata access
  examples/vue3-typerank3/src/App.vue
Due: none

chore: align lint rules and tests
  docs/05测试指南.md
  eslint.config.cjs
  packages/pitype-core/src/dom/textRenderer.ts
  packages/pitype-core/tests/dom/cursorAdapter.spec.ts
  packages/pitype-core/tests/ghostManager.spec.ts
  packages/pitype-core/tests/player.spec.ts
  packages/pitype-core/tests/recorder.spec.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: add task menu runner
  QUICK_REFERENCE.md
  package.json
  scripts/task-runner.mjs
Due: eslint --fix, prettier --write

chore: extend task menu entries
  QUICK_REFERENCE.md
  scripts/task-runner.mjs
Due: eslint --fix, prettier --write

chore: install playwright browsers before tests
  package.json
Due: prettier --write

chore: ensure rollup native binary on linux
  package-lock.json
  package.json
Due: prettier --write

chore: auto-install rollup native binary on linux
  package.json
  scripts/install-rollup-native.mjs
Due: eslint --fix, prettier --write

chore: remove lighthouse ci configuration
  .lighthouserc.json
  QUALITY_IMPLEMENTATION_GUIDE.md
  QUALITY_SUMMARY.md
Due: prettier --write

chore: add benchmark script
  QUICK_REFERENCE.md
  package.json
Due: prettier --write

chore: remove lighthouse job from performance ci
  .github/workflows/performance.yml
Due: prettier --write

chore: use bench script in performance workflow
  .github/workflows/performance.yml
Due: prettier --write

chore: skip commitlint for release commits
  .husky/commit-msg
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  packages/pitype-core/package.json
Due: prettier --write

Notes added by 'git notes add'
  cbcbd848f4494ab501d5793bd3088d7d9d6d3ceb
Due: none

chore: add benchmark suite
  benchmark/typing-session.bench.ts
  package-lock.json
  package.json
  scripts/task-runner.mjs
Due: eslint --fix, prettier --write

chore: sync package-lock with workspaces
  package-lock.json
Due: prettier --write

chore: update commitlint configuration
  .commitlintrc.json
Due: prettier --write

chore: remove benchmark upload step
  .github/workflows/performance.yml
Due: prettier --write

docs: 添加 CLAUDE.md 中文指南
  AGENTS.md
  CLAUDE.md
  DEVELOPMENT.md
  QUICK_REFERENCE.md
  README.md
  docs/01项目说明.md
  docs/02梳理.md
  docs/04接入指南.md
  docs/05测试指南.md
  docs/codecov-setup-guide.md
  docs/contributor-guide.md
  docs/framework-integration-proposal.md
  docs/incremental-implementation-plan.md
  docs/quality-implementation-guide.md
Due: prettier --write

docs: reorganize contributor guides
  AGENTS.md
Due: prettier --write

feat(examples): 添加 React 版本的打字练习示例
  CLAUDE.md
  README.md
  examples/react-typerank3/README.md
  examples/react-typerank3/index.html
  examples/react-typerank3/package.json
  examples/react-typerank3/src/App.tsx
  examples/react-typerank3/src/components/Cursor.tsx
  examples/react-typerank3/src/components/Header.tsx
  examples/react-typerank3/src/components/InfoModal.tsx
  examples/react-typerank3/src/components/InputField.tsx
  examples/react-typerank3/src/components/LanguageSelector.tsx
  examples/react-typerank3/src/components/ResultModal.tsx
  examples/react-typerank3/src/components/StatsPanel.tsx
  examples/react-typerank3/src/components/TextDisplay.tsx
  examples/react-typerank3/src/components/ThemeSelector.tsx
  examples/react-typerank3/src/contexts/LanguageContext.tsx
  examples/react-typerank3/src/contexts/ThemeContext.tsx
  examples/react-typerank3/src/hooks/useCursorAdapter.ts
  examples/react-typerank3/src/hooks/useInputController.ts
  examples/react-typerank3/src/hooks/useTextRenderer.ts
  examples/react-typerank3/src/hooks/useTypingSession.ts
  examples/react-typerank3/src/language.ts
  examples/react-typerank3/src/main.tsx
  examples/react-typerank3/src/texts.ts
  examples/react-typerank3/style.css
  examples/react-typerank3/tsconfig.json
  examples/react-typerank3/tsconfig.node.json
  examples/react-typerank3/vite.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(scripts): 添加 React 示例到任务菜单
  scripts/task-runner.mjs
Due: eslint --fix, prettier --write

fix(react-typerank3): 修复 Hook 依赖问题和输入功能
  examples/react-typerank3/src/App.tsx
  examples/react-typerank3/src/components/Footer.tsx
  examples/react-typerank3/src/components/TextDisplay.tsx
  examples/react-typerank3/src/hooks/useCursorAdapter.ts
  examples/react-typerank3/src/hooks/useInputController.ts
  examples/react-typerank3/src/hooks/useTextRenderer.ts
  examples/react-typerank3/src/hooks/useTypingSession.ts
Due: eslint --fix, prettier --write

fix(react-typerank3): 修复初始光标位置偏移问题
  examples/react-typerank3/src/components/TextDisplay.tsx
Due: none

fix(react-demo): 修复光标初始位置偏移问题
  examples/react-typerank3/src/components/TextDisplay.tsx
  examples/react-typerank3/src/hooks/useCursorAdapter.ts
Due: eslint --fix, prettier --write
